.box {

    height: 500px;
    width: 500px;
    border-radius: 20px;
    margin: auto;
    margin-top: 100px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 6px 9px rgba(0.6, 0.6, 0.6, 0.6), 0 6px 20px rgba(0, 0, 0, 0.1);

}

.Headings {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: bolder;
    margin-top: 20px;
}

.btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
